In [1]:
import pandas as pd
from sklearn import preprocessing
from sklearn import model_selection 
from sklearn import linear_model
#import xgboost as xgb
from sklearn.metrics import accuracy_score

In [2]:
dataset = pd.read_csv("Clean_Dataset.csv")

In [3]:
dataset

,Unnamed: 0,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
0,0,SpiceJet,SG-8709,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1,5953
1,1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1,5953
2,2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1,5956
3,3,Vistara,UK-995,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,1,5955
4,4,Vistara,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1,5955
...,...,...,...,...,...,...,...,...,...,...,...,...
300148,300148,Vistara,UK-822,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,49,69265
300149,300149,Vistara,UK-826,Chennai,Afternoon,one,Night,Hyderabad,Business,10.42,49,77105
300150,300150,Vistara,UK-832,Chennai,Early_Morning,one,Night,Hyderabad,Business,13.83,49,79099
300151,300151,Vistara,UK-828,Chennai,Early_Morning,one,Evening,Hyderabad,Business,10.00,49,81585
300152,300152,Vistara,UK-822,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,49,81585

In [4]:
dataset.groupby(['airline']).size()

airline
AirAsia       16098
Air_India     80892
GO_FIRST      23173
Indigo        43120
SpiceJet       9011
Vistara      127859
dtype: int64

In [5]:
dataset.groupby(['source_city']).size()

source_city
Bangalore    52061
Chennai      38700
Delhi        61343
Hyderabad    40806
Kolkata      46347
Mumbai       60896
dtype: int64

In [6]:
dataset.groupby(['departure_time']).size()

departure_time
Afternoon        47794
Early_Morning    66790
Evening          65102
Late_Night        1306
Morning          71146
Night            48015
dtype: int64

In [7]:
dataset.groupby(['stops']).size()

stops
one            250863
two_or_more     13286
zero            36004
dtype: int64

In [8]:
dataset.groupby(['arrival_time']).size()

arrival_time
Afternoon        38139
Early_Morning    15417
Evening          78323
Late_Night       14001
Morning          62735
Night            91538
dtype: int64

In [9]:
dataset.groupby(['destination_city']).size()

destination_city
Bangalore    51068
Chennai      40368
Delhi        57360
Hyderabad    42726
Kolkata      49534
Mumbai       59097
dtype: int64

In [10]:
dataset.groupby(['class']).size()

class
Business     93487
Economy     206666
dtype: int64

In [11]:
dataset.groupby(['duration']).size()

duration
0.83      52
0.92      78
1.00     377
1.08     553
1.17     960
        ...
44.50      1
45.83      3
47.08      1
47.75      2
49.83      2
Length: 476, dtype: int64

In [12]:
dataset.groupby(['days_left']).size()

days_left
1     1927
2     4026
3     4248
4     5077
5     5392
6     5740
7     5703
8     5767
9     5665
10    5822
11    6417
12    6381
13    6404
14    6349
15    6340
16    6272
17    6419
18    6602
19    6537
20    6502
21    6479
22    6494
23    6401
24    6542
25    6633
26    6573
27    6360
28    6522
29    6397
30    6501
31    6534
32    6585
33    6532
34    6412
35    6291
36    6490
37    6476
38    6512
39    6593
40    6531
41    6525
42    6497
43    6472
44    6436
45    6314
46    6160
47    6069
48    6078
49    6154
dtype: int64

In [13]:
dataset.groupby(['price']).size()

price
1105      300
1106        7
1443      180
1444       14
1526       20
         ...
114705      1
115211      1
116562      1
117307      1
123071      1
Length: 12157, dtype: int64

In [14]:
dataset.isnull().sum()

Unnamed: 0          0
airline             0
flight              0
source_city         0
departure_time      0
stops               0
arrival_time        0
destination_city    0
class               0
duration            0
days_left           0
price               0
dtype: int64

In [15]:
le = preprocessing.LabelEncoder()
dataset['airline'] = le.fit_transform(dataset['airline'])

In [16]:
le = preprocessing.LabelEncoder()
dataset['source_city'] = le.fit_transform(dataset['source_city'])

In [17]:
le = preprocessing.LabelEncoder()
dataset['departure_time'] = le.fit_transform(dataset['departure_time'])

In [18]:
le = preprocessing.LabelEncoder()
dataset['stops'] = le.fit_transform(dataset['stops'])

In [19]:
le = preprocessing.LabelEncoder()
dataset['arrival_time'] = le.fit_transform(dataset['arrival_time'])

In [20]:
le = preprocessing.LabelEncoder()
dataset['destination_city'] = le.fit_transform(dataset['destination_city'])

In [21]:
le = preprocessing.LabelEncoder()
dataset['class'] = le.fit_transform(dataset['class'])

In [22]:
dataset

,Unnamed: 0,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
0,0,4,SG-8709,2,2,2,5,5,1,2.17,1,5953
1,1,4,SG-8157,2,1,2,4,5,1,2.33,1,5953
2,2,0,I5-764,2,1,2,1,5,1,2.17,1,5956
3,3,5,UK-995,2,4,2,0,5,1,2.25,1,5955
4,4,5,UK-963,2,4,2,4,5,1,2.33,1,5955
...,...,...,...,...,...,...,...,...,...,...,...,...
300148,300148,5,UK-822,1,4,0,2,3,0,10.08,49,69265
300149,300149,5,UK-826,1,0,0,5,3,0,10.42,49,77105
300150,300150,5,UK-832,1,1,0,5,3,0,13.83,49,79099
300151,300151,5,UK-828,1,1,0,2,3,0,10.00,49,81585
300152,300152,5,UK-822,1,4,0,2,3,0,10.08,49,81585

In [23]:
df = dataset.drop(['flight'], axis=1)
df

,Unnamed: 0,airline,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
0,0,4,2,2,2,5,5,1,2.17,1,5953
1,1,4,2,1,2,4,5,1,2.33,1,5953
2,2,0,2,1,2,1,5,1,2.17,1,5956
3,3,5,2,4,2,0,5,1,2.25,1,5955
4,4,5,2,4,2,4,5,1,2.33,1,5955
...,...,...,...,...,...,...,...,...,...,...,...
300148,300148,5,1,4,0,2,3,0,10.08,49,69265
300149,300149,5,1,0,0,5,3,0,10.42,49,77105
300150,300150,5,1,1,0,5,3,0,13.83,49,79099
300151,300151,5,1,1,0,2,3,0,10.00,49,81585
300152,300152,5,1,4,0,2,3,0,10.08,49,81585

In [24]:
X = df.drop(['price'], axis=1)
X

,Unnamed: 0,airline,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left
0,0,4,2,2,2,5,5,1,2.17,1
1,1,4,2,1,2,4,5,1,2.33,1
2,2,0,2,1,2,1,5,1,2.17,1
3,3,5,2,4,2,0,5,1,2.25,1
4,4,5,2,4,2,4,5,1,2.33,1
...,...,...,...,...,...,...,...,...,...,...
300148,300148,5,1,4,0,2,3,0,10.08,49
300149,300149,5,1,0,0,5,3,0,10.42,49
300150,300150,5,1,1,0,5,3,0,13.83,49
300151,300151,5,1,1,0,2,3,0,10.00,49
300152,300152,5,1,4,0,2,3,0,10.08,49

In [25]:
y = df[('price')]
y

0          5953
1          5953
2          5956
3          5955
4          5955
          ...
300148    69265
300149    77105
300150    79099
300151    81585
300152    81585
Name: price, Length: 300153, dtype: int64

In [26]:
X_train, X_test, y_train, y_test = model_selection.train_test_split(X, y, test_size=0.2)

In [27]:
X_train

,Unnamed: 0,airline,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left
213506,213506,5,2,2,2,5,0,0,2.83,21
261174,261174,1,0,5,0,4,1,0,11.92,47
198324,198324,3,1,4,0,0,4,1,5.42,8
134356,134356,2,4,1,0,2,5,1,11.58,42
74494,74494,2,5,0,0,2,3,1,7.08,30
...,...,...,...,...,...,...,...,...,...,...
106747,106747,3,0,5,0,1,4,1,10.00,30
83198,83198,5,5,2,0,2,1,1,20.58,43
247780,247780,1,0,1,0,2,2,0,10.92,39
101698,101698,3,0,2,2,5,5,1,2.00,44
114591,114591,5,0,1,0,1,3,1,25.17,42

In [ ]:
lm = linear_model.LogisticRegression()
lm.fit(X_train, y_train)